<nav class="navegador">
    <a href="/" class="navegador__enlace">Inicio</a>
    <a href="/nosotros" class="navegador__enlace">Nosotros</a>
    <a href="/contacto" class="navegador__enlace">Contacto</a>
</nav>