<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    {{> head}}
    <title>Admin</title>
</head>

<body>
    <div class="container">
        {{> nav}}
        
        <table>
            <tr>
                <th>Página</th>
                <th>Visitas</th>
            </tr>
            <tr>
                <td>Inicio</td>
                <td>{{home}}</td>
            </tr>
            <tr>
                <td>Nosotros</td>
                <td>{{nosotros}}</td>
            </tr>
            <tr>
                <td>Contacto</td>
                <td>{{contacto}}</td>
            </tr>
        </table>

    </div>

</body>

</html>