<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contacto</title>
</head>
<body>
    {{> nav}}
    <h1>Contacto</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, officiis tempore voluptatum culpa illum rerum recusandae qui eos distinctio saepe molestias earum quos, corporis nemo fugiat, eius labore repellat sunt?</p>

</body>
</html>