<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    {{> nav}}
    <h1>Inicio</h1>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident saepe ipsa ab fuga repudiandae voluptate nemo iusto quam quaerat tempora! Hic inventore officiis dicta illum odio cumque similique, quisquam quia!</p>

</body>
</html>