<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    {{> head}}
    <title>Nosotros</title>
</head>

<body>
    <div class="container">
        {{> nav}}
        <h1>Nosotros</h1>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id explicabo quasi quis earum ipsam similique
            consequatur aperiam, nesciunt excepturi dolorem accusamus officiis voluptatum suscipit illum, sapiente
            impedit molestias consequuntur optio.</p>
    </div>
</body>

</html>